# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
venv/
.env.*

# Docker
*.dockerfile
Dockerfile.*
docker-compose*.yml
.dockerignore

# VS Code
.vscode/

# Logs and temp
*.log
*.bak
*.swp
*.tmp
